<html>
  <head>
    <title>Editer</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Staatliches&display=swap" rel="stylesheet">  <!-- polices -->
  </head>
  <body>


  <div class="box">
  <h1>Editer le commentaire </h1>
  <% n = @comment.id %>
<a href="/comment/<%=n%>" class="alerte alerte-light" data-confirm="Êtes-vous sur de vouloir supprimer ce commentaire ?"
data-method="DELETE">Supprimer le commentaire</a>
<br /><br />

<br />

<%= form_for @comment do |f| %>

  <div class="form-group">
  <label><h3>Commentaire :</h3> </label>
  <%= f.text_field :content, class: "form-control" %>
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-info">Modifier le commentaire</button>
  </div>

<% end %><br />
  

</div>
  </body>
</html>