<html>
  <head>
    <title>The Gossip Project</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Staatliches&display=swap" rel="stylesheet">  <!-- polices -->
  </head>
  <body>
  
  <div class="box">


<h1>Bienvenue ! </h1><br />
Voici tous les potins !<br /><br />
<div class="content_box">

<% n = 2 %>
<% 11.times do %>

    <% gossip = Gossip.find(n) %>
    <a href="/gossip/<%=n%>"><%= gossip.title %></a> - 
    <% user = gossip.user %>
    <%= user.alias %> <em>( <%= user.first_name %> )</em><br />
    <% n = n + 1 %>

<% end %>

</div>


</div>
  </body>
</html>