<html>
  <head>
    <title>La team</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Staatliches&display=swap" rel="stylesheet">  <!-- polices -->
  </head>
  <body>
  <div class="box">

<h1>Team</h1>
Voici toute l'équipe du projet ! 
<br /><br />

<div class="d-flex  flex-wrap justify-content-center">


<div class="card" style="width: 18rem; margin:10px;">
  <img src="https://images.pexels.com/photos/194094/pexels-photo-194094.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="img">
  <div class="card-header" style="text-transform:uppercase;"><strong>Claire Tardy</strong></div>
  <div class="card-body">
    <p class="card-text">Alias <em>NHEI</em><br />
    <span class="badge badge-light align-right"><a href="">Voir le profil</a></span></p>
  </div>
</div>


<div class="card" style="width: 18rem; margin:10px;">
  <img src="https://images.pexels.com/photos/194094/pexels-photo-194094.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="img">
  <div class="card-header" style="text-transform:uppercase;"><strong>ANONYMOUS</strong></div>
  <div class="card-body">
    <p class="card-text">Compte PNJ<br />
    <span class="badge badge-light align-right"><a href="">Voir le profil</a></span></p>
  </div>
</div>
<div class="card" style="width: 18rem; margin:10px;">
  <img src="https://images.pexels.com/photos/194094/pexels-photo-194094.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="img">
  <div class="card-header" style="text-transform:uppercase;"><strong>ANONYMOUS</strong></div>
  <div class="card-body">
    <p class="card-text">Compte PNJ<br />
    <span class="badge badge-light align-right"><a href="">Voir le profil</a></span></p>
  </div>
</div>

</div> 

    </div>
    </body>
</html>

