<html>
  <head>
    <title>La team</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Staatliches&display=swap" rel="stylesheet">  <!-- polices -->
  </head>
  <body>
  <div class="box">


<h1>Team</h1>
Voici toute l'équipe du projet ! 


    </div>
    </body>
</html>

