<html>
  <head>
    <title>Profil</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Staatliches&display=swap" rel="stylesheet">  <!-- polices -->
  </head>
  <body>
  <div class="box">

  <h2>Bienvenue <%= current_user.alias %> !</h2>

</div>
</body>
</html>