<html>
  <head>
    <title>Inscription</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Staatliches&display=swap" rel="stylesheet">  <!-- polices -->
  </head>
  <body>
  

  <div class="box">

  <h1>Inscription</h1>


</div>
  </body>
</html>